.best-price{
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:  Tahoma
}

.card-item{
    background: #f6f6f6;
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 70px;
    padding: 10px;
}

.item img{
    position: absolute;
    border-radius: 0;
    object-fit: contain;
    width: 50px;
}

.itemname{
    font-size: 12px;
    font-weight: 600;
    color: #505050;
    position: absolute;
    left: 60px;
}

.price{
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #27ae60;
    top: 40px;
    left: 60px;
    align-items: end;
}